* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --light: rgb(255, 255, 255);
    --dark: rgb(0, 0, 0);
}

header {
    min-height: 7vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 3rem;
    background-color: var(--dark);
    color: var(--light);
}

header h1 {
    display: inline-block;
    padding-right: .4rem;
}

main {
    min-height: 86vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

section#top {
    padding: 3rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} section#top h2 {
    font-size:2rem;
}
#imgs {
    padding-top: 1rem;
}

#qr_img {
    display: inline;
}

figcaption {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1rem
}

figure {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.form-el {
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
}


section#form label, section#form input {
    margin: .6rem .5rem;
    display: inline-block;
    cursor: pointer;
}

section#form input[type='color'] {
    height: 3rem;
    width: 10rem;
}

section#form input[type='text'] {
    height: 1.5rem;
    width: 12rem;
}

section#form input[type='submit'] {
    height: 1.5rem;
    width: 10rem;
}

footer {
    min-height: 7vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: var(--light);
}