<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{title}}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <article class="logo">
            <h1>QRify</h1>
        </article>
    </header>
    <main>
        <form action="" method="POST">
            <label for="link">Add a Link</label>
            <input type="text" name="link" id="link">
            <br>
            <label for="filename">Save As: </label>
            <input type="text" name="filename" id="filename">
            <br>
            <input type="submit">
        </form>
    </main>
    <footer>
        Copyright &copy; Optimized Coder 2023
    </footer>
</body>
</html>